.section-header {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.section-heading {
  font-family: var(--font-label);
  font-size: 21px;
  font-weight: 500;
  color: var(--color-text-header);
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.section-tagline {
  font-family: var(--font-display);
  font-size: 64px;
  font-weight: 800;
  line-height: 70px;

  padding-bottom: 3px;
  white-space: pre-line;
}

.subsection-tagline {
  width: auto;
  display: flex;
  flex-direction: column;
}

.subsection-tagline h4 {
  font-size: 40px;
  font-weight: 450;
  color: var(--color-text-header);
}

.subsection-tagline h3 {
  width: fit-content;
  align-self: center;
  font-family: var(--font-display);
  font-size: 56px;
  line-height: 75%;

  padding-bottom: 13px;
}