.lunacart-design {
  padding: clamp(71px, 6.944vw + 0px, 100px) clamp(86px, 8.333vw + 0px, 120px) clamp(143px, 13.889vw + 0px, 200px);
  background: var(--color-background-gray-frame);
}

.lunacart-design .section-inner {
  gap: clamp(36px, 3.472vw + 0px, 50px);
  align-items: center;
}

.lunacart-design .section-header {
  text-align: center;
}

.lunacart-design .subsection-tagline-emphasized {
  background: linear-gradient(
    95deg,
    var(--color-lunacart-quaternary) 10%,
    var(--color-lunacart-tertiary) 50%,
    var(--color-lunacart-primary) 90%
  );

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;
}

.design-model-container {
  width: 100%;
  display: flex;

  justify-content: center;
  gap: clamp(21px, 2.083vw + 0px, 30px);
}

.design-story-map {
  width: auto;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: clamp(14px, 1.389vw + 0px, 20px);
  gap: clamp(14px, 1.389vw + 0px, 20px);

  border-radius: clamp(21px, 2.083vw + 0px, 30px);
  background: var(--color-background-light-frame);
}

.design-story-map h5 {
  font-family: var(--font-label);
  font-size: clamp(10px, 0.972vw + 0px, 14px);
  font-weight: 400;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--color-text-header);
}

.design-story-map img {
  max-height: clamp(353px, 34.375vw + 0px, 495px);
}

.design-wireflow {
  width: auto;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: clamp(14px, 1.389vw + 0px, 20px);
  gap: 15%;

  border-radius: clamp(21px, 2.083vw + 0px, 30px);
  background: var(--color-background-light-frame);
}

.design-wireflow h5 {
  font-family: var(--font-label);
  font-size: clamp(10px, 0.972vw + 0px, 14px);
  font-weight: 400;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--color-text-header);
}

.design-wireflow img {
  max-width: clamp(326px, 31.806vw + 0px, 458px);
  justify-self: center;
}

.lunacart-design .screen-content {
  text-align: left;
}
