.boogie-approach {
  padding: clamp(71px, 6.944vw + 0px, 100px) clamp(86px, 8.333vw + 0px, 120px) clamp(71px, 6.944vw + 0px, 100px); 
  background: var(--color-background-gray-frame);
}

.boogie-approach .section-inner {
  align-items: center;
  gap: clamp(71px, 6.944vw + 0px, 100px);
}

.boogie-approach-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(36px, 3.472vw + 0px, 50px);
}

.boogie-approach .section-header {
  text-align: center;
}

.boogie-approach .subsection-tagline-emphasized {
  background: linear-gradient(
    95deg,
    var(--color-boogie-tertiary) 10%,
    var(--color-boogie-primary) 50%,
    var(--color-boogie-secondary) 90%
  );

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;
}

.approach-screens {
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: clamp(36px, 3.472vw + 0px, 50px);
}

.approach-screens img {
  max-height: clamp(427px, 41.667vw + 0px, 600px);
}

.approach-screens p {
  font-size: clamp(10px, 0.972vw + 0px, 14px);
  font-weight: 350;
  color: var(--color-text-header);
  text-align: center;
}

.approach-screens-first-col {
  display: flex;
  flex-direction: column;

  gap: clamp(7px, 0.694vw + 0px, 10px);
}

.approach-screens-second-col {
  display: flex;

  gap: clamp(14px, 1.389vw + 0px, 20px);
}

.approach-screens-second-col-screen {
  display: flex;
  flex-direction: column;

  gap: clamp(7px, 0.694vw + 0px, 10px);
}
