.question {
  width: 100%;
  display: flex;

  gap: clamp(16px, 1.7vw, 20px);
  align-items: center;
}

.question-number-outer {
  width: clamp(80px, 8vw, 100px);
  height: clamp(80px, 8vw, 100px);
  display: flex;
  flex-shrink: 0;

  align-items: center;
  justify-content: center;

  padding: 1px; /* border thickness */
  border-radius: 50%;
}

.question-number-inner {
  width: 100%;
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: center;

  border-radius: inherit;
}

.question-number {
  font-family: var(--font-body);
  font-size: clamp(32px, 3.2vw, 40px);
  font-weight: 700;
}

.question-text {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 10px;
  justify-content: center;
}

.question-theme {
  font-family: var(--font-label);
  font-size: clamp(15px, 1.35vw, 17px);
  font-weight: 400;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--color-text-dark);
}

.question-content {
  font-size: clamp(16px, 1.35vw, 17px);
  font-weight: 400;
  color: var(--color-text-light);
}

/* MOBILE STYLES */
@media (max-width: 768px) {
  .question {
    gap: clamp(16px, 4vw, 20px);
    /* align-items: flex-start; Align to top on mobile */
  }

  .question-number-outer {
    width: clamp(60px, 15vw, 80px);
    height: clamp(60px, 15vw, 80px);
  }

  .question-number {
    font-size: clamp(24px, 6vw, 32px);
  }

  .question-text {
    gap: clamp(8px, 2vw, 10px);
  }

  .question-theme {
    font-size: clamp(13px, 3.25vw, 15px);
  }

  .question-content {
    font-size: clamp(15px, 3.75vw, 17px);
  }
}
