.boogie-challenge {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: clamp(71px, 6.944vw + 0px, 100px) clamp(46px, 4.514vw + 0px, 65px) 0;
  gap: clamp(36px, 3.472vw + 0px, 50px);
}

.challenge-chats {
  display: flex;

  gap: clamp(29px, 2.778vw + 0px, 40px);
}

.chat-highlight {
  color: var(--color-boogie-primary);
}

@media (max-width: 768px) {
  .boogie-challenge {
    padding: clamp(50px, 12vw, 70px) 0 0;
    gap: clamp(24px, 5.581vw + 0px, 36px);
  }

  .challenge-chats {
    flex-direction: column;
    width: 100%;
    gap: clamp(20px, 4.651vw + 0px, 28px);
    align-items: center;
  }
}
