.boogie-challenge {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding-top: clamp(70px, 8vw, 100px);
  gap: clamp(36px, 3.472vw + 0px, 50px);
}

.challenge-chats {
  display: flex;

  gap: clamp(29px, 2.778vw + 0px, 40px);
}

.chat-highlight {
  color: var(--color-boogie-primary);
}

@media (max-width: 768px) {
  .boogie-challenge {
    padding-top: clamp(50px, 18.182vw + 31.818px, 70px);
    gap: clamp(28px, 7vw, 36px);
  }

  .challenge-chats {
    flex-direction: column;
    width: 100%;
    gap: clamp(20px, 4.651vw + 0px, 28px);
    align-items: center;
  }
}
