.exp-proto {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  
  gap: clamp(7px, 0.694vw + 0px, 10px);
}

.exp-proto-card {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 0 0 clamp(14px, 1.389vw + 0px, 20px) 0;
  gap: clamp(14px, 1.389vw + 0px, 20px);
  align-items: center;
  overflow: hidden;

  background: var(--color-background-gray-frame);
  border-radius: clamp(21px, 2.083vw + 0px, 30px);
}

.exp-proto-header {
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
  padding: clamp(7px, 0.694vw + 0px, 10px) 0;

  font-family: var(--font-label);
  font-size: clamp(9px, 0.833vw + 0px, 12px);
  font-weight: 400;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.exp-proto-content {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 0 clamp(21px, 2.083vw + 0px, 30px);
  gap: clamp(11px, 1.042vw + 0px, 15px);
}

.exp-proto-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: clamp(4px, 0.347vw + 0px, 5px);
  text-align: center;
}

.exp-proto-title {
  font-family: var(--font-label);
  font-size: clamp(10px, 0.972vw + 0px, 14px);
  font-weight: 400;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--color-text-header);
}

.exp-proto-description {
  font-size: clamp(9px, 0.833vw + 0px, 12px);
  line-height: clamp(10px, 0.972vw + 0px, 14px);
  color: var(--color-text-body);
  white-space: pre-line;
}

.exp-proto-img-container {
  height: clamp(196px, 19.097vw + 0px, 275px);
  display: flex;
  flex-direction: column;

  gap: clamp(4px, 0.347vw + 0px, 5px);
}

.exp-proto-img-container img {
  width: clamp(146px, 14.236vw + 0px, 205px);
  height: auto;
  object-fit: contain;

  border-radius: clamp(4px, 0.347vw + 0px, 5px);
}

.exp-proto-img {
  width: auto;
  height: clamp(196px, 19.097vw + 0px, 275px);

  border-radius: clamp(4px, 0.347vw + 0px, 5px);
}

.exp-proto-text {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: clamp(11px, 1.042vw + 0px, 15px);
}

.exp-proto-text-section {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: clamp(4px, 0.347vw + 0px, 5px);
}

.exp-proto-text-title {
  font-size: clamp(10px, 0.972vw + 0px, 14px);
  font-weight: 550;
  color: var(--color-text-header);
}

.exp-proto-text-content {
  font-size: clamp(10px, 0.972vw + 0px, 14px);
  color: var(--color-text-body);
}

.exp-proto-icon-frame {
  width: fit-content;
  display: flex;

  align-items: center;
  justify-content: center;
  padding: clamp(11px, 1.042vw + 0px, 15px);

  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(47, 27, 12, 0.35);
}

.exp-proto-icon {
  width: clamp(20px, 1.944vw + 0px, 28px);
  height: clamp(20px, 1.944vw + 0px, 28px);
}
