.lunacart-approach {
  padding: clamp(71px, 6.944vw + 0px, 100px) clamp(86px, 8.333vw + 0px, 120px) clamp(143px, 13.889vw + 0px, 200px);
  overflow: hidden;
}

.lunacart-approach .section-inner {
  gap: clamp(36px, 3.472vw + 0px, 50px);
}

.lunacart-approach img {
  width: 100%;
}

.approach-intervention-diagram {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  gap: clamp(36px, 3.472vw + 0px, 50px);
}

.intervention-diagram-row {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: clamp(21px, 2.083vw + 0px, 30px);
}

.intervention-diagram-row h4 {
  font-family: var(--font-label);
  font-size: clamp(12px, 1.181vw + 0px, 17px);
  font-weight: 400;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--color-text-header);
}

.intervention-diagram-row h5 {
  font-family: var(--font-label);
  font-size: clamp(10px, 0.972vw + 0px, 14px);
  font-weight: 400;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--color-text-header);
}

.intervention-diagram-row.title-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: clamp(4px, 0.347vw + 0px, 5px);

  text-align: center;
}

.intervention-cards {
  width: 100%;
  display: flex;

  gap: clamp(21px, 2.083vw + 0px, 30px);
}

.intervention-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;

  align-items: center;
  gap: clamp(7px, 0.694vw + 0px, 10px);

  background: #E0E0E0;
  border-radius: clamp(21px, 2.083vw + 0px, 30px);
  text-align: center;

  color: var(--color-text-body);
}

.intervention-card.highlighted{
  background: var(--color-background-light-frame);
  box-shadow: 0px 0px 4px rgba(47, 27, 12, 0.35);
  color: var(--color-text-header);
}

.intervention-card.food-ecosystem {
  padding: clamp(21px, 2.083vw + 0px, 30px) clamp(18px, 1.736vw + 0px, 25px);

  font-size: clamp(12px, 1.181vw + 0px, 17px);
  font-weight: 350;
}

.intervention-card.food-ecosystem img {
  height: clamp(53px, 5.208vw + 0px, 75px);
  width: auto;
  opacity: 50%;
}

.intervention-card.food-ecosystem.highlighted img {
  opacity: 100%;
}

.intervention-card.behavior {
  padding: clamp(14px, 1.389vw + 0px, 20px);
}

.intervention-card.behavior h6 {
  font-size: clamp(12px, 1.181vw + 0px, 17px);
  font-weight: 450;
}

.intervention-card.behavior p {
  font-size: clamp(9px, 0.833vw + 0px, 12px);
  font-weight: 350;
}

.intervention-card.behavior img {
  width: 100%;
  height: auto;
  border-radius: clamp(14px, 1.389vw + 0px, 20px);
  opacity: 50%;
}

.intervention-card.behavior.highlighted img {
  opacity: 100%;
}

.intervention-card.design-implications {
  background: var(--color-background-light-frame);
  padding: clamp(21px, 2.083vw + 0px, 30px);
  box-shadow: 0px 0px 4px rgba(47, 27, 12, 0.35);

  text-align: start;
}

.intervention-card.design-implications h5 {
  font-family: var(--font-body);
  font-size: clamp(29px, 2.778vw + 0px, 40px);
  font-weight: 650;
  letter-spacing: 0;

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;
}

.intervention-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: clamp(7px, 0.694vw + 0px, 10px);
}

.intervention-card-content h6 {
  font-family: var(--font-body);
  font-size: clamp(12px, 1.181vw + 0px, 17px);
  font-weight: 450;
  color: var(--color-text-header);
}

.intervention-card-content p {
  font-family: var(--font-body);
  font-size: clamp(12px, 1.181vw + 0px, 17px);
  font-weight: 350;
  color: var(--color-text-body);
}

.intervention-diagram-first-row-connector {
  position: absolute;
  top: clamp(203px, 19.792vw + 0px, 285px);
  right: clamp(285px, 27.778vw + 0px, 400px);
  z-index: 1;
}

.intervention-diagram-second-row-connector {
  position: absolute;
  height: clamp(114px, 11.111vw + 0px, 160px);
  bottom: clamp(178px, 17.361vw + 0px, 250px);
  z-index: 1;
}

.intervention-diagram-second-row-connector.pale-orange {
  left: clamp(-310px, -21.615vw + 1.4px, -220px);
}

.intervention-diagram-second-row-connector.orange {
  left: clamp(-190px, -13.221vw + 0.3px, -135px);
}

.intervention-diagram-second-row-connector.purple {
  left: clamp(135px, 13.221vw - 0.3px, 190px);
}

.intervention-diagram-second-row-connector.blue {
  left: clamp(220px, 21.615vw - 1.4px, 310px);
}
