.reflections {
  padding-block: clamp(70px, 8vw, 100px) clamp(100px, 12vw, 150px);
}

.reflections .section-inner {
  gap: clamp(30px, 3.2vw, 40px);
}

.reflections .section-heading {
  color: var(--color-text-light);
}

.reflections .text-block .body {
  color: var(--color-text-dark);
}

.reflections .text-block .large {
  color: var(--color-text-light);
}

/* MOBILE STYLES */
@media (max-width: 768px) {
  .reflections {
    padding-block: clamp(50px, 18.182vw + 31.818px, 70px) clamp(60px, 15vw, 80px);
  }

  .reflections .section-inner {
    gap: clamp(28px, 7vw, 36px);
  }
}