.lunacart-discovery {
  padding: 100px 150px 100px;
}

.lunacart-discovery .section-inner {
  gap: 50px;
}

.discovery-quotes {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 0 50px;
  gap: 30px;
}

.discovery-diagram {
  width: 932px;

  align-self: center;
}

.discovery-affinity-map {
  width: 100%;

  padding: 30px;

  border-radius: 30px;
  background: var(--color-background-gray-frame);
}

.discovery-affinity-map img {
  width: 1080px;

  border-radius: 15px;
}