.text-block {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: clamp(24px, 2.5vw, 30px);
}

.text-block .body {
  width: 80%;
  color: var(--color-text-body);
}

.text-block .large {
  width: 80%;
  font-size: clamp(15px, 1.458vw + 0px, 21px);
  font-weight: 400;
  color: var(--color-text-header);
}