
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mona Sans", sans-serif;
  font-size: clamp(12px, 1.181vw + 0px, 17px);
  font-weight: 350;
}

html {
  scroll-behavior: smooth;
}